body {
  font-family: Inconsolata, 'Courier New', Courier, monospace;
}

.jumbotron {
  text-align: center;
  margin-bottom: 0;
  background: #c94b4b;  /* fallback for old browsers */

   background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color: #fff;
   border-radius: 0;
}
main {
  padding-top: 20px;
}
hr {
  margin-top: 0;
}
.load-area {
  width: 100%;
  height: 2px;
  margin-top: 20px;
}
h1.display-3 {
  font-size: 3.5rem;
}

.sub-title {
  margin-bottom: 40px;
}

.grid h3,
.grid h4 {
  border-bottom: dotted 1px #000;
}

.grid-item {
  margin: 20px 0;
  /*border: solid 2px #777;*/
}

.active-false {
  display: none;
}
img {
  border: dotted 1px #999;
  padding: 3px;
}
li {
  list-style: none;
  padding: 9px 0;
  border-bottom: dotted 1px #999;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
button {
  margin-top: 20px;
  font-size: 14px;
}
.user-value {
  font-weight: 700;
}
.user-name {
  font-size: 18px;
}
a.user-name {
  color: #000;
  text-decoration: none;
}
a.user-link:hover {
  color: #797979;
}
.hide-inactive {
  display: none;
}

footer {
  text-align: center;
  margin-bottom: 40px;
}
footer a {
  text-decoration: none;
  color: #000;
  border-bottom: #000 1px dotted;
  padding-bottom: 2px;
}
footer a:hover {
  text-decoration: none;
  color: #797979;
  border-bottom: #797979 1px dotted;
}
